# ==========================================
# 🌍 TERRAFORM / IaC
# ==========================================
# Archivos temporales y descargados por Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Archivos de variables (¡Contienen credenciales sensibles!)
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# ==========================================
# 🐍 PYTHON / SCRIPTS
# ==========================================
# Entornos virtuales
.venv/
venv/
ENV/
env/
# Archivos compilados de Python
**/__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 📜 ANSIBLE
# ==========================================
# Archivos de reintento de Playbooks
*.retry

# ==========================================
# 📦 NODE.JS (Por si tu microservicio o extensión usa JS/TS)
# ==========================================
node_modules/
/npm-debug.log*
/yarn-error.log*
.env
.env.local
.env.*.local

# ==========================================
# 🗄️ SISTEMA OPERATIVO Y VS CODE
# ==========================================
# Archivos del sistema
.DS_Store
Thumbs.db
# Configuración local de VS Code (opcional de ignorar)
.vscode/
